{% extends 'base.html' %} {% block title %} Error 500 - Server Error{% endblock
%} {% block body %}
<section class="text-center text-sm-left pt-5">
  <div class="row justify-content-lg-center container pt-5">
    <div class="col col-lg-6 py-5">
      <h1>500! Something went wrong!</h1>
      <h3>
        Something happened to the server while trying to process your request.
        <br />Please use the following link to go
        <a href="{{url_for('views.index')}}">HOME</a>
      </h3>
    </div>
    <div class="col col-lg-auto">
      <img
        class="img-fluid"
        src="{{ url_for('static', filename='images/notfoundsadge.jpg') }}"
      />
    </div>
  </div>
</section>
{% endblock %}
